[submodule "third_party/Livox-SDK2"]
	path = third_party/Livox-SDK2
	url = https://github.com/tu-darmstadt-ros-pkg/Livox-SDK2.git
	ignore = dirty
	branch = jazzy
[submodule "ros_ws/src/third_party/livox_ros_driver2"]
	path = ros_ws/src/third_party/livox_ros_driver2
	url = https://github.com/tu-darmstadt-ros-pkg/livox_ros_driver2.git
	branch = jazzy
