[submodule "ros_ws/src/livox_ros_driver2"]
	path = ros_ws/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "third_party_sdk_drivers/Livox-SDK2"]
	path = third_party_sdk_drivers/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
	ignore = dirty
