[submodule "ros_ws/src/livox_ros_driver2"]
	path = ros_ws/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	ignore = dirty
[submodule "Livox-SDK2"]
	path = Livox-SDK2
	url = https://github.com/swed91740/Livox-SDK2.git
