<?xml version="1.0" ?>


  
  <sdf version="1.10" xmlns:xacro="http://www.ros.org/wiki/xacro">

      <!-- Parameters -->
  <xacro:property name="box_size_x" value="0.42"/>
  <xacro:property name="box_size_y" value="0.38"/>
  <xacro:property name="box_size_z" value="0.17"/>   
  
    <xacro:macro name="Rig_simpelBox_xacro" params='offset:="0 0 0 0 0 0" UGV_link'>
    <static>false</static>
    <link name="box_link">
      <pose>${offset}</pose>
      <gravity>true</gravity> 
      <collision name="c">
        <geometry><box><size>${box_size_x} ${box_size_y} ${box_size_z}</size></box></geometry>
      </collision>
      <visual name="v">
        <geometry><box><size>${box_size_x} ${box_size_y} ${box_size_z}</size></box></geometry>
      </visual>
    </link>
    </xacro:macro> 
  </sdf>
