<?xml version="1.0"?>
<sdf version="1.11" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="cm2m"    value="${1/100.0}"/>

    <xacro:macro name="material_darkgray">
      <visual>
        <material>
          <diffuse>${3/255} ${3/255} ${3/255} 1</diffuse>
          <specular>0 0 0 1</specular>
          <emissive>0 0 0 1</emissive>
        </material>
      </visual>
    </xacro:macro>

    <xacro:macro name="inertial_cuboid_with_pose" params="mass x y z *origin">
      <inertial>
        <mass>${mass}</mass>
        <xacro:insert_block name="origin"/>
        <inertia>
          <ixx>${(1/12) * mass * (y*y + z*z)}</ixx>
          <ixy>0.0</ixy>
          <ixz>0.0</ixz>
          <iyy>${(1/12) * mass * (x*x + z*z)}</iyy>
          <iyz>0.0</iyz>
          <izz>${(1/12) * mass * (x*x + y*y)}</izz>
        </inertia>
      </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_cuboid" params="mass x y z">
      <xacro:inertial_cuboid_with_pose mass="${mass}" x="${x}" y="${y}" z="${z}">
        <pose>0 0 0 0 0 0</pose>
      </xacro:inertial_cuboid_with_pose>
    </xacro:macro>

    <xacro:macro name="inertial_dummy">
      <xacro:inertial_cuboid mass="0.01" x="0.01" y="0.01" z="0.01"/>
    </xacro:macro>
</sdf>