[Unit]
Description=Robot service, that starts the robot
#After=zenoh.service
After=network.target

[Service]
Environment=ROS_DOMAIN_ID=20
Environment=RMW_IMPLEMENTATION=rmw_zenoh_cpp
Environment=

Type=simple
User=slarc
WorkingDirectory=/home/sfd/dev/slarc-heavyseeker/ros_ws
Restart=on-failure
ExecStart="/home/sfd/dev/slarc-heavyseeker/setup/startMinimalSystem.sh"


[Install]
WantedBy=multi-user.target
