<?xml version="1.0" ?>
<sdf version="1.11" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find hs_description)/sdf/oakd.sdf.xacro" />

  <model name="heavy_seeker" canonical_link='base_link'>

    <link name="base_link">
      <must_be_base_link>true</must_be_base_link>
    </link>

    <!-- Mechanical properties -->
    <xacro:property name="oakd_x_offset" value="${0*cm2m}"/>
    <xacro:property name="oakd_y_offset" value="${0*cm2m}"/>
    <xacro:property name="oakd_z_offset" value="${0*cm2m}"/>

    <!-- Sensor definitions -->
    <xacro:oakd parent_link="base_link">
      <!-- <origin xyz="${oakd_x_offset} ${oakd_y_offset} ${oakd_z_offset}"/> -->
      <pose>${oakd_x_offset} ${oakd_y_offset} ${oakd_z_offset} 0 0 0</pose>
    </xacro:oakd>

    <link name="base_footprint">
      <pose relative_to="base_joint"/>
    </link>
    <joint name="base_joint" type="fixed">
      <!-- <origin xyz=" 0 0 0" rpy="0 0 0" /> -->
      <parent>base_link</parent>
      <child>base_footprint</child>
      <pose relative_to="base_link">0 0 0 0 0 0</pose>
    </joint>
  </model>
</sdf>